@font-face {
  font-family: OldeEnglish;
  src: url('../../../assets/fonts/OldeEnglish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KnightsQuest;
  src: url('../../../assets/fonts/KnightsQuest.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.solid {
    background-image: url(../../../assets/FieldUnsplash.jpg);
    background-position: top;
    margin: 0;
    z-index: 1;
    height: 100vh;
    background-position: center;
    padding: 0;
    font-family: KnightsQuest;
    font-size: 6em;
    opacity: 100%;
    text-align: left;
    padding: 50px 0px 0px 50px;
}