@font-face {
  font-family: OldeEnglish;
  src: url('../../../assets/fonts/OldeEnglish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KnightsQuest;
  src: url('../../../assets/fonts/KnightsQuest.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lily {
    position: relative;
    background-image: url(../../../assets/LilyTrBkgd.png);
    width: 100%;
    height: 85vh;
    color: transparent;
}

.verse {
    margin: 0;
    background-color: #4d1a20;
    color: #d3d3d3;
    font-family: OldeEnglish;
    font-size: 3.2em;
    text-align: center;
    line-height: 34px;
    padding: 40px 0px 60px 0px;
}
