
@font-face {
  font-family: OldeEnglish;
  src: url('../../assets/fonts/OldeEnglish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KnightsQuest;
  src: url('../../assets/fonts/KnightsQuest.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

div {
    background-color: #d3d3d3;
    margin: 0;
}

button {
    display: inline-flex;
    background-color: #b98389;
    outline: 0.5px solid #5e855f;
    height: 5vh;
    width: 10vw;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

image {
    margin: 0;
    position: absolute;
    background-image: url(../../assets/ArmorUnsplash.jpg);
    background-position: center;
    width: 100%;
    height: 90%;
    color: transparent;
}

.solo {
    background-image: url(../../assets/FieldUnsplash.jpg);
    background-position: top;
    margin: 0;
    z-index: 1;
    height: 30vh;
    background-position: center;
    padding: 0;
    color: transparent;
    opacity: 100%;
    text-align: center;
}

.lilies {
    margin: 0;
    position: relative;
    z-index: 1;
    background-image: url(../../assets/lilies.jpg);
    background-size: contain;
    background-position: center;
    padding: 0;
    color: transparent;
    opacity: 100%;
    text-align: center;
}

.knight {
    margin-top: 20px;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    color: #4d1a20;
    font-family: KnightsQuest;
    font-size: 5.5em;
    text-align: center;
    line-height: 40px;
    padding: 20px 0px 0px 0px;
}

.palette {
    margin: 0;
    background-image: url(../../assets/lilies.jpg);
    background-position: top;
    background-size: contain;
    color: transparent;
    width: 50%;
    height: 90%;
    opacity: 100%;
}