@font-face {
    font-family: LucySaidOk;
    src: url("./assets/fonts/LucySaidOk.ttf") format("truetype");
}

.christmasFont {
    font-family: LucySaidOk;
    color: rgb(168, 39, 39);
    font-size: 5rem;
    text-shadow: #e3ed98 2px 0px;
}